[Desktop Entry]
Name=Life
Exec=life %U
Terminal=false
Type=Application
Icon=ai.moeru.airi
StartupWMClass=Life
Comment=Life is an AI companion app supporting Live2D/VRM avatars, featuring human-like interactions and modular stage-based rendering.
Categories=Utility;

